/* Generelle regler */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
}

img {
  width: 100%;
  object-fit: cover;
}

main section {
  grid-column: 2/3;
  padding: 10px;
  margin-top: 200px;
}

body {
  background-color: #e69c27;
  /* background-color: #f8bd60;
  background-color: #dc861b; */
}

hr {
  color: #092299;
  margin-top: 30px;
  margin-bottom: 20px;
}
/* Splashbillede og nav */

#first_section {
  grid-column: 1/4;
  width: 100%;
  height: 100vh;
  background-image: url(billeder/splash.svg);
  background-size: cover;
  background-position: 50% 50%;
}

/* nav */
header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: sticky;
  top: 0;
}

#first_section h1 {
  /* font-family: "bookman-jf-pro", serif; */
  font-family: "poppins", sans-serif;
  font-style: italic;
  font-size: 1.3rem;
  font-weight: 900;
  color: #9b3900;
}

#titel {
  padding: 30px;
}

#titel a {
  color: #092299;
}

header nav {
  display: flex;
  /* margin-left: 60px; */
  place-content: end end;
  padding: 15px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 15px;
  gap: 35px;
  overflow-x: auto;
}

header li {
  flex-shrink: 0;
}

a {
  font-family: "poppins", sans-serif;
  /* font-family: "bookman-jf-pro", serif; */
  font-style: italic;

  text-decoration: none;
  color: #11055f;
  font-size: 1.3rem;
  font-weight: 900;
  /* text-transform: uppercase; */
}

a:hover {
  color: #092299;
}

/* nav knap */
.dropbtn {
  background-color: transparent;
  color: #11055f;

  border: none;
  font-family: "poppins", sans-serif;
  /* font-family: "bookman-jf-pro", serif; */
  font-size: 1.3rem;
  font-weight: 900;
  font-style: italic;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  top: 75px;
  right: 20px;
  background-color: #b94400;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #11055f;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1rem;
  font-family: "poppins", sans-serif;
  font-style: italic;
}

.dropdown-content a:hover {
  background-color: #dc861b;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #092299;
}

/* anden section */
#second_section img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

#second_section p {
  margin-left: 5px;
}

#second_section .read_more {
  margin-left: 5px;
}

/* læse mere knap */
.read_more a {
  /* border-radius: 4px; */
  background-color: transparent;
  border: none;
  color: #11055f;
  /* text-align: center; */
  font-size: 1rem;
  transition: 0.5s;
  /* transition: all 0.5s; */
}

.read_more span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.read_more span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.read_more:hover span {
  padding-right: 25px;
}

.read_more:hover span:after {
  opacity: 1;
  right: 0;
}

/* beskæring af billeder */

#third_section img {
  width: 420px;
  height: 400px;
  object-fit: cover;
  margin-bottom: 10px;
}

/* fonts, størrelse og margin */

h1 {
  font-family: "ltc-globe-gothic", sans-serif;
  font-style: italic;
  margin-bottom: 15px;
  color: #11055f;
  font-size: 2.5rem;
}

p {
  font-size: 1rem;
  /* font-family: Helvetica, sans-serif; */
  font-family: "poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 5px;
  line-height: 1.5rem;
}

h2 {
  font-size: 1.3rem;
  font-family: "poppins", sans-serif;
  /* font-style: italic; */
  font-weight: 900;
  margin-bottom: 10px;
  color: #11055f;
  margin-top: 20px;
}

button {
  font-family: "poppins", sans-serif;
  background-color: transparent;
  border-style: none;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 15px;
  color: #11055f;
  font-size: 1rem;
}

/* knap til top */

#myBtn {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;

  z-index: 99;
  border: none;
  outline: none;
  background-color: transparent;
}

/* grid responsivt */

@media (min-width: 600px) {
  #second_section {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }

  #second_section img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

  #projekter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  #third_section img {
    width: 280px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  /* størrelser */

  #first_section h1 {
    /* font-family: "bookman-jf-pro", serif; */
    font-family: "poppins", sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 900;
    color: #092299;
  }

  a {
    font-family: "poppins", sans-serif;
    /* font-family: "bookman-jf-pro", serif; */
    font-style: italic;
    text-decoration: none;
    color: #11055f;
    font-size: 1.5rem;
    font-weight: 900;
    /* text-transform: uppercase; */
  }

  /* nav knap */
  .dropbtn {
    background-color: transparent;
    color: #11055f;

    border: none;
    font-family: "poppins", sans-serif;
    /* font-family: "bookman-jf-pro", serif; */
    font-size: 1.5rem;
    font-weight: 900;
    font-style: italic;
  }

  .dropdown-content {
    display: none;
    position: fixed;
    top: 75px;
    right: 45px;
    background-color: #b94400;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: #11055f;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    font-family: "poppins", sans-serif;
    font-style: italic;
  }

  /* læse mere knap */
  .read_more {
    /* border-radius: 4px; */
    background-color: transparent;
    border: none;
    color: #11055f;
    /* text-align: center; */
    font-size: 1rem;
    transition: 0.5s;
    /* transition: all 0.5s; */
  }

  /* fonts, størrelse og margin */

  h1 {
    font-family: "ltc-globe-gothic", sans-serif;
    font-style: italic;
    margin-bottom: 20px;
    color: #11055f;
    font-size: 3rem;
  }

  p {
    font-size: 1rem;
    /* font-family: Helvetica, sans-serif; */
    font-family: "poppins", sans-serif;

    text-justify: inter-word;
    font-weight: 500;
    margin-bottom: 5px;
    line-height: 1.5rem;
    margin-right: 10px;
  }

  h2 {
    font-size: 1.3rem;
    font-family: "poppins", sans-serif;
    /* font-style: italic; */
    font-weight: 900;
    margin-bottom: 5px;
    color: #11055f;
  }

  button {
    font-family: "poppins", sans-serif;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 15px;
    color: #11055f;
    font-size: 1rem;
  }
}

@media (min-width: 800px) {
  #second_section {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin-bottom: 50px;
  }

  #second_section img {
    width: 400px;
    height: 400px;
    object-fit: cover;
  }

  #projekter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
  #third_section img {
    width: 386px;
    height: 350px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  /* størrelser */

  a {
    font-family: "poppins", sans-serif;
    /* font-family: "bookman-jf-pro", serif; */
    font-style: italic;

    text-decoration: none;
    color: #11055f;
    font-size: 1.6rem;
    font-weight: 900;
    /* text-transform: uppercase; */
  }

  /* nav knap */
  .dropbtn {
    background-color: transparent;
    color: #11055f;

    border: none;
    font-family: "poppins", sans-serif;
    /* font-family: "bookman-jf-pro", serif; */
    font-size: 1.6rem;
    font-weight: 900;
    font-style: italic;
  }

  .dropdown-content {
    display: none;
    position: fixed;
    top: 75px;
    right: 55px;
    background-color: #b94400;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: #11055f;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    font-family: "poppins", sans-serif;
    font-style: italic;
  }

  /* læse mere knap */
  .read_more {
    /* border-radius: 4px; */
    background-color: transparent;
    border: none;
    color: #11055f;
    /* text-align: center; */
    font-size: 1rem;
    transition: 0.5s;
    /* transition: all 0.5s; */
  }

  /* fonts, størrelse og margin */

  h1 {
    font-family: "ltc-globe-gothic", sans-serif;
    font-style: italic;
    margin-bottom: 25px;
    color: #11055f;
    font-size: 3rem;
  }

  p {
    font-size: 1rem;
    /* font-family: Helvetica, sans-serif; */
    font-family: "poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
    font-family: "poppins", sans-serif;
    /* font-style: italic; */
    font-weight: 900;
    margin-bottom: 5px;
    color: #11055f;
  }

  button {
    font-family: "poppins", sans-serif;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 15px;
    color: #11055f;
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  #second_section {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin-bottom: 60px;
  }

  #second_section img {
    width: 450px;
    height: 450px;
    object-fit: cover;
  }

  #projekter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  #third_section img {
    width: 500px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  /* størrelser */

  a {
    font-family: "poppins", sans-serif;
    /* font-family: "bookman-jf-pro", serif; */
    font-style: italic;

    text-decoration: none;
    color: #11055f;
    font-size: 1.7rem;
    font-weight: 900;
    /* text-transform: uppercase; */
  }

  /* nav knap */
  .dropbtn {
    background-color: transparent;
    color: #11055f;

    border: none;
    font-family: "poppins", sans-serif;
    /* font-family: "bookman-jf-pro", serif; */
    font-size: 1.7rem;
    font-weight: 900;
    font-style: italic;
  }

  .dropdown-content {
    display: none;
    position: fixed;
    top: 75px;
    right: 55px;
    background-color: #b94400;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: #11055f;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1.1rem;
    font-family: "poppins", sans-serif;
    font-style: italic;
  }

  /* læse mere knap */
  .read_more {
    /* border-radius: 4px; */
    background-color: transparent;
    border: none;
    color: #11055f;
    /* text-align: center; */
    font-size: 1rem;
    transition: 0.5s;
    /* transition: all 0.5s; */
    margin-top: 15px;
  }

  /* fonts, størrelse og margin */

  h1 {
    font-family: "ltc-globe-gothic", sans-serif;
    font-style: italic;
    margin-bottom: 15px;
    color: #11055f;
    font-size: 3.1rem;
  }

  p {
    font-size: 1rem;
    /* font-family: Helvetica, sans-serif; */
    font-family: "poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
    line-height: 1.5rem;
    margin-right: 60px;
  }

  h2 {
    font-size: 1.3rem;
    font-family: "poppins", sans-serif;
    /* font-style: italic; */
    font-weight: 900;
    margin-bottom: 5px;
    color: #11055f;
  }

  button {
    font-family: "poppins", sans-serif;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 15px;
    color: #11055f;
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  #second_section {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin-bottom: 70px;
  }

  #second_section img {
    width: 500px;
    height: 400px;
    object-fit: cover;
    margin-left: 20px;
  }

  #projekter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    justify-content: center;
  }
  #third_section img {
    width: 280px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  /* størrelser */

  a {
    font-family: "poppins", sans-serif;
    /* font-family: "bookman-jf-pro", serif; */
    font-style: italic;

    text-decoration: none;
    color: #11055f;
    font-size: 1.7rem;
    font-weight: 900;
    /* text-transform: uppercase; */
  }

  /* nav knap */
  .dropbtn {
    background-color: transparent;
    color: #11055f;
    border: none;
    font-family: "poppins", sans-serif;
    /* font-family: "bookman-jf-pro", serif; */
    font-size: 1.7rem;
    font-weight: 900;
    font-style: italic;
  }

  .dropdown-content {
    display: none;
    position: fixed;
    top: 75px;
    right: 50px;
    background-color: #b94400;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: #11055f;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1.1rem;
    font-family: "poppins", sans-serif;
    font-style: italic;
  }

  /* læse mere knap */
  .read_more {
    /* border-radius: 4px; */
    background-color: transparent;
    border: none;
    color: #11055f;
    /* text-align: center; */
    font-size: 1rem;
    transition: 0.5s;
    /* transition: all 0.5s; */
    margin-top: 20px;
  }

  /* fonts, størrelse og margin */

  h1 {
    font-family: "ltc-globe-gothic", sans-serif;
    font-style: italic;
    margin-bottom: 25px;
    color: #11055f;
    font-size: 3.4rem;
  }

  p {
    font-size: 1rem;
    /* font-family: Helvetica, sans-serif; */
    font-family: "poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
    line-height: 1.5rem;
    margin-right: 5px;
  }

  h2 {
    font-size: 1.3rem;
    font-family: "poppins", sans-serif;
    /* font-style: italic; */
    font-weight: 900;
    margin-bottom: 5px;
    color: #11055f;
  }

  button {
    font-family: "poppins", sans-serif;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 15px;
    color: #11055f;
    font-size: 1rem;
  }
}
