/* generelle regler */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
}

img {
  width: 100%;
  object-fit: cover;
}

main section {
  grid-column: 2/3;
  padding: 10px;
}

body {
  background-image: url(billeder/baggrund.svg);
  grid-column: 1/4;
  width: 100%;
  background-size: cover;
  background-position: 15% 5%;
}

/* nav */

header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: sticky;
  top: 0;
  background-color: #11055f;
  z-index: 1;
}

header nav {
  display: flex;
  /* margin-left: 60px; */
  place-content: end end;
  padding: 0px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 15px;
  gap: 35px;
  overflow-x: auto;
}

header li {
  flex-shrink: 0;
}

a {
  font-family: "poppins", sans-serif;
  /* font-family: "bookman-jf-pro", serif; */
  font-style: italic;

  text-decoration: none;
  color: #dc861b;
  font-size: 1.1rem;
  font-weight: 900;
}

header h1 {
  font-family: "poppins", sans-serif;
  font-style: italic;
  font-size: 1.1rem;
  font-weight: 900;
  color: #dc861b;
  padding: 15px;
}

a:hover {
  color: #e69c27;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: transparent;
}

li {
  float: right;
}

li a,
.dropbtn {
  display: inline-block;
  color: #dc861b;
  text-align: center;
  /* padding: 10; */
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: transparent;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  top: 45px;
  right: 13px;
  background-color: #b94400;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #11055f;
  padding: 12px 16px;
  font-size: 0.8rem;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: #11055f;
  background-color: #dc861b;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* overskrift */
#overskrift {
  font-family: "ltc-globe-gothic", sans-serif;
  font-style: italic;
  margin-top: 120px;
  margin-left: 50px;
  margin-bottom: 20px;
  color: #11055f;
  font-size: 2rem;
}

#second_section {
  margin-left: 55px;
  margin-right: 20px;
}

#tema2 {
  background-color: transparent;
  color: #11055f;
  font-size: 0.8rem;
  border: none;
  font-family: "poppins", sans-serif;
  font-weight: 600;
}

#tema2:hover {
  color: #092299;
}

h2 {
  font-size: 1.2rem;
  font-family: "poppins", sans-serif;
  /* font-style: italic; */
  font-weight: 900;
  margin-bottom: 10px;
  color: #11055f;
}

p {
  font-size: 0.8rem;
  /* font-family: Helvetica, sans-serif; */
  font-family: "poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 1.5rem;
}

#third_section {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 20px;
}

#third_section img {
  margin-bottom: 15px;
}

@media (min-width: 800px) {
  /* grid */
  #overskrift {
    font-family: "ltc-globe-gothic", sans-serif;
    font-style: italic;
    margin-top: 150px;
    margin-left: 75px;
    color: #11055f;
    font-size: 3rem;
  }

  #second_section {
    margin-left: 80px;
    margin-right: 10px;
    gap: 25px;
  }

  #tema2 {
    background-color: transparent;
    color: #11055f;
    font-size: 1rem;
    border: none;
    font-family: "poppins", sans-serif;
    font-weight: 600;
  }

  #third_section {
    margin-top: 50px;
    margin-left: 75px;
    margin-right: 10px;
    gap: 25px;
  }

  #billede1 {
    order: 3;
  }

  #tekst2 {
    margin-top: 0px;
    margin-right: 10px;
  }

  /* tekst */

  h2 {
    font-size: 1.4rem;
    font-family: "poppins", sans-serif;
    /* font-style: italic; */
    font-weight: 900;
    margin-bottom: 10px;
    color: #11055f;
  }

  p {
    font-size: 1.1rem;
    /* font-family: Helvetica, sans-serif; */
    font-family: "poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 1.5rem;
  }

  /* nav */
  a {
    font-family: "poppins", sans-serif;
    /* font-family: "bookman-jf-pro", serif; */
    font-style: italic;

    text-decoration: none;
    color: #dc861b;
    font-size: 1.3rem;
    font-weight: 900;
  }

  header h1 {
    font-family: "poppins", sans-serif;
    font-style: italic;
    font-size: 1.3rem;
    font-weight: 900;
    color: #dc861b;
    padding: 15px;
  }

  li a,
  .dropbtn {
    display: inline-block;
    color: #dc861b;
    text-align: center;
    /* padding: 10; */
    text-decoration: none;
  }

  .dropdown-content {
    display: none;
    position: fixed;
    top: 50px;
    right: 0px;
    background-color: #b94400;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: #11055f;
    padding: 12px 16px;
    font-size: 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
  }
}

@media (min-width: 1000px) {
  /* grid */
  #overskrift {
    font-family: "ltc-globe-gothic", sans-serif;
    font-style: italic;
    margin-top: 100px;
    margin-left: 120px;
    color: #11055f;
    font-size: 3rem;
  }

  #second_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 125px;
    margin-right: 30px;
    gap: 25px;
  }

  #tema2 {
    background-color: transparent;
    color: #11055f;
    font-size: 1rem;
    border: none;
    font-family: "poppins", sans-serif;
    font-weight: 600;
  }

  #third_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;

    margin-left: 125px;
    margin-right: 60px;
    gap: 25px;
  }

  #billede1 {
    order: 3;
  }

  #tekst2 {
    margin-top: 43px;
  }

  /* tekst */

  h2 {
    font-size: 1.4rem;
    font-family: "poppins", sans-serif;
    /* font-style: italic; */
    font-weight: 900;
    margin-bottom: 10px;
    color: #11055f;
  }

  p {
    font-size: 1rem;
    /* font-family: Helvetica, sans-serif; */
    font-family: "poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 1.5rem;
  }

  /* nav */
  a {
    font-family: "poppins", sans-serif;
    /* font-family: "bookman-jf-pro", serif; */
    font-style: italic;

    text-decoration: none;
    color: #dc861b;
    font-size: 1.3rem;
    font-weight: 900;
  }

  header h1 {
    font-family: "poppins", sans-serif;
    font-style: italic;
    font-size: 1.3rem;
    font-weight: 900;
    color: #dc861b;
    padding: 15px;
  }

  li a,
  .dropbtn {
    display: inline-block;
    color: #dc861b;
    text-align: center;
    /* padding: 10; */
    text-decoration: none;
  }

  .dropdown-content {
    display: none;
    position: fixed;
    top: 50px;
    right: 0px;
    background-color: #b94400;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: #11055f;
    padding: 12px 16px;
    font-size: 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
  }
}

@media (min-width: 1370px) {
  /* grid */
  #overskrift {
    font-family: "ltc-globe-gothic", sans-serif;
    font-style: italic;
    margin-top: 130px;
    margin-left: 50px;
    color: #11055f;
    font-size: 3rem;
  }

  #second_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 55px;
    margin-right: 0px;
    gap: 25px;
  }

  #tema2 {
    background-color: transparent;
    color: #11055f;
    font-size: 1.1rem;
    border: none;
    font-family: "poppins", sans-serif;
    font-weight: 600;
  }

  #third_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    margin-left: 55px;
    margin-right: 0px;
    gap: 25px;
  }

  #billede1 {
    order: 3;
  }

  #tekst2 {
    margin-top: 43px;
  }

  /* tekst */

  h2 {
    font-size: 1.5rem;
    font-family: "poppins", sans-serif;
    /* font-style: italic; */
    font-weight: 900;
    margin-bottom: 10px;
    color: #11055f;
  }

  p {
    font-size: 1.1rem;
    /* font-family: Helvetica, sans-serif; */
    font-family: "poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 1.5rem;
  }

  /* nav */
  a {
    font-family: "poppins", sans-serif;
    /* font-family: "bookman-jf-pro", serif; */
    font-style: italic;

    text-decoration: none;
    color: #dc861b;
    font-size: 1.3rem;
    font-weight: 900;
  }

  header h1 {
    font-family: "poppins", sans-serif;
    font-style: italic;
    font-size: 1.3rem;
    font-weight: 900;
    color: #dc861b;
    padding: 15px;
  }

  li a,
  .dropbtn {
    display: inline-block;
    color: #dc861b;
    text-align: center;
    /* padding: 10; */
    text-decoration: none;
  }

  .dropdown-content {
    display: none;
    position: fixed;
    top: 50px;
    right: 0px;
    background-color: #b94400;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: #11055f;
    padding: 12px 16px;
    font-size: 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
  }
}
